.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    column-gap: 3vw;
    row-gap: 3vw;
}

@media (max-width: 700px) {
    .article-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1100px) {
    .article-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}