.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    column-gap: 3vw;
    row-gap: 3vw;
    margin-bottom: 10vh;
}

@media (max-width: 700px) {
    .article-grid {
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        column-gap: 3vw;
        row-gap: 3vw;
        margin: 0px;
    }
}

@media (min-width: 1100px) {
    .article-grid {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        column-gap: 3vw;
        row-gap: 3vw;
        margin: 0px;
    }
}