.header {
    width: 100vw;
    background-color: #bb3332;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

#login, #about {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    transition: transform .25s;
    align-self: center;
    justify-self: center;
    color: black;
}

#about {
    background-color: #2cc6d7;
}

#login {
    background-color: #ffffff;
}

#title {
    align-self: center;
    justify-self: center;
    font-size: 20pt;
    font-weight: 700;
    color: #ffffff;
}

#about:hover, #login:hover {
    transform: scale(1.1);
}