#lead-image {
    background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/advancelocal/VRTNQYB7UZHEZOY5KCHBP3YNYM.JPG');
    aspect-ratio: 4796 / 2957;
    background-size: cover;
    background-position: 0px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#bulls {
    background-image: url('./media/bulls.png');
    aspect-ratio: 2246 / 727;
    background-size: cover;
}

.full table tr th, .full table tr td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    font-weight: 300;
    font-size: 18pt;
    line-height: 135%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border: 2px solid black;
}

.full table {
    border: 2px solid black;
    border-collapse: collapse;
}
