#main_image {
    height: 43.333vw;
    background-image: url('https://atozsports.com/.image/t_share/MjA5NjIwNDM3MTgzNzY3NzEy/ryan-williams.jpg');
    width: 65vw;
}

#space {
    border: 0px;
    margin-bottom: 5vw;
}

#win_chart {
    height: 42.738570142vw;
    width: 66vw;
}

#main_image, #win_chart {
    transition: transform .25s;
    background-size: cover;
    margin-bottom: 2vw;
    border-radius: 2vw;
    margin-top: 1vw;
}

#main_image:hover {
    transform: scale(1.03);
}

#win_chart:hover {
    transform: scale(1.04);
}

#special {
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
    #win_chart {
        background-image: url('./media/bama_graph_light.jpg');
    }
}

@media (prefers-color-scheme: dark) {
    #win_chart {
        background-image: url('./media/bama_graph_dark.jpg');
    }
}