#boxplot {
    background-image: url('https://i.redd.it/luecva9mr5fd1.jpeg');
    background-size: cover;
    width: 65vw;
    height: 49vw;
    border-radius: 2vw;
    margin-bottom: 1vw;
}

#collage {
    background-image: url('./media/final_collage.png');
    background-size: cover;
    width: 65vw;
    height: 40vw;
    margin-bottom: 1vw;
    border-radius: 2vw;
}

@media (prefers-color-scheme: light) {
    #collage {
        border-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    #collage {
        border-color: #222222;
    }
}