#boxplot {
    background-image: url('https://i.redd.it/luecva9mr5fd1.jpeg');
    background-size: cover;
    width: 65vw;
    height: 49vw;
    background-position: 0px 0px;
    border-radius: 10px;
    margin-bottom: 1vw;
}

#collage {
    background-image: url('./media/final_collage.png');
    background-size: cover;
    width: 65vw;
    height: 40vw;
    margin-bottom: 1vw;
}

@media (prefers-color-scheme: light) {
    #collage {
        border-radius: 20px;
    }
}

@media (prefers-color-scheme: dark) {
    #collage {
        border-radius: 0px;
    }

    #wrapper .full #collage {
        border-radius: 0px;
    }
}